.navbar-brand {
	height: auto;
}
.navbar-brand h1{
	line-height: .75;
	margin-top: 0;
	margin-bottom: 0;
	color: black;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
#nav-list {
	background-color: #a4aab0;
	color: black;
}
#nav-list a {
	color: black;
	text-align: center;
}

.text-section {
	background-color: #aba3a2;
	padding-bottom: 20px;
	margin: 0 10px 0 10px;
}

@media (max-width: 767px) {
	.text-section {
		margin: 10px 70px 0 70px;
	}
}